<!-- -----------------------------------Footer----------------------------------------- -->
<footer class="footer bg-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="d-flex justify-content-center pt-5">
                    <div>
                        <a href="https://www.facebook.com/numan.abdullah.18" target="_blank"><i
                                class="fa fa-facebook-square text-white p-3 footer-icon-size"></i></a>
                        <a href="https://twitter.com/NUMANAB34587119" target="_blank"><i
                                class="fa fa-twitter-square text-white p-3 footer-icon-size "></i></a>
                        <a href="https://www.linkedin.com/in/numan-abdullah-69470120a/" target="_blank"><i
                                class="fa fa-linkedin text-white p-3 footer-icon-size "></i></a>
                        <a href="https://www.instagram.com/nomanabdullah306/?hl=en" target="_blank"><i
                                class="fa fa-instagram text-white p-3 footer-icon-size "></i></a>
                    </div>
                </div>
                <div class="d-flex justify-content-center pb-5">
                    <h6 class="footer-text text-white text-hover">
                        &copy; <a style="font-family: 'Montserrat', display;" class="text-white text-decoration-none fw-bold" href="/"> Ash<span class="text-danger">an</span><span> &lt/></span></a>  . all rights
                        reserved
                    </h6>
                </div>
            
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</footer>
<!-- -----------------------------------END (footer)------------------------------------- -->