<!-- --------------------------------- Header ------------------------------------------- -->
<nav class="navbar navbar-expand-sm navbar-light bg-light bg-gradient bg-opacity- sticky-top">
  <div class="container-fluid">
    <a style="font-family: 'Montserrat', display;" class="navbar-brand fs-1 fw-bold ps-5" href="/">Ash<span
        class="text-danger">an</span><span> &lt/></span></a>
    <!-- use &lt; and &gt; -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item px-2">
          <a class="nav-link text-black fw-bold" href="/">Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-black fw-bold" href="/blog">Blog</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-black fw-bold" href="/create_new_blog/new">Create New Blog</a>
        </li>
      </ul>
      <form class="d-flex" action="/search" method="get">
        <input class="rounded-2 me-2 ps-2" type="text" placeholder="Search" name="search">
        <button class="btn btn-danger"><i class="fa fa-search"></i></button>
      </form>



    </div>
  </div>
</nav>

